

@font-face {
  font-family: 'stag_sansmedium';
  src: url('../font/stagsans-medium_0-webfont.eot');
  src: url('../font/stagsans-medium_0-webfont.eot?#iefix') format('embedded-opentype'),url('../font/stagsans-medium_0-webfont.woff') format('woff'),url('../font/stagsans-medium_0-webfont.ttf') format('truetype'),url('../font/stagsans-medium_0-webfont.svg#stag_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'stag_sanslight';
  src: url('../font/stagsans-light-webfont.eot');
  src: url('../font/stagsans-light-webfont.eot?#iefix') format('embedded-opentype'),url('../font/stagsans-light-webfont.woff') format('woff'),url('../font/stagsans-light-webfont.ttf') format('truetype'),url('../font/stagsans-light-webfont.svg#stag_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html, a, button{
	margin:0;
  padding:0;
  text-align: center;
  outline: none;
  font-family: 'stag_sansmedium', Arial;
  text-rendering: optimizeLegibility;
}

h1{
  font-size: 24px;
  color: #fff;
  text-align: center;
/*  position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  /*background-image: url("../img/cabecera.png");*/
  background-position: bottom;
  margin-top: 0;
  margin-bottom: 0;
/*  padding-top: 20px;
  padding-bottom: 44px;*/
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: 'stag_sanslight', Helvetica, Arial;

}
h2 {
  color: #F2F2F2;
  /* position: fixed; */
  top: 100px;
  left: 0;
  width: 100%;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  padding: 18px 0px;
  background: rgb(00, 110, 193);
  margin: 0px 0px;
  /*text-transform: capitalize;*/
  font-family: 'stag_sanslight', Helvetica, Arial;
  /*border-radius: 5px 5px 0px 0;*/
}

h3 {
  margin: 0;
}

.form h3 {
  font-size: 0.9em;
  margin: 20px 0px;
  color: rgb(00,110,193);
  font-family: 'stag_sanslight', Helvetica, Arial;
  padding: 0px 15px;
  line-height: 1.5em;
}

h4 {
  font-size: 1.6em;
  margin: 12px 0px;
  color: rgb(00,110,193);
  font-family: 'stag_sanslight', Helvetica, Arial;
  padding: 0px 15px;
  line-height: 1.5em;
}

body{
  background: url("../img/background-body.jpg") 0 0;
  height: 100%;
  min-height: 100%; 
/*  background-size: cover;*/
  background-color: #F4F6FA;
}

body.cybermami-body{
  background: url("../img/body-cybermami.jpg") 0 0;
  height: 100%;
  min-height: 100%; 
/*  background-size: cover;*/
  background-color: #F4F6FA;
}

/**index.html*****************************************************/

span.strong{ font-family: 'stag_sansmedium', Arial;}

span.bold{font-family: 'stag_sansmedium', Arial; color: #7c7c80!important;}

img.imgfix{
  width: 100%;
  height: auto;
  display: block;
}

.text{
  padding: 44px 0 41px 0;
}

img{
  margin: 0 auto;
}

form#frm-data {
  max-width: 100%;
  width: 420px;
  margin: 0px auto;
  padding-top: 22px;
}

/* -------terminos------------------------------------------ */
.terminos{
  padding: 21px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: #7c7c80;
  /*text-align: justify;*/
  position: absolute;
  line-height: 10px;
}

.terminos span{
  color: #004c93;
}

span.title-legal-box {
  font-size: 1.25em;
  text-transform: uppercase;
  line-height: 1.25em;
  font-family: 'stag_sansmedium', Arial;
}

.text-legal-box {
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
  height: 360px;
  /* border: 1px solid #dddddd; */
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: justify;
  font-weight: normal;
}

footer .text-legal-box{
  border-bottom: 1px solid black;
  float: left;
}

.overlay{
  width:100%;
  height:100%;
  position:absolute;
  background-color:#999;
  opacity: 0.7;
  display:none;
}

.overlayTerminos #cboxOverlay{
  background-color:#333 !important;
}

.overlayTerminos #cboxClose{
  right: 145px !important;
  margin-right: 2%;
}

.wrapper{
  position: relative;
}

.wrapper p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: 'stag_sanslight';
  font-weight: bold;
  color: #242424;
}

.wrapper p a{
  text-decoration: none;
  color: #242424;
}

footer{
  padding: 11px 17px!important;
  box-sizing: border-box;
  display:block!important; 
  position:relative!important; 
  bottom:0!important;
}

footer .text-legal-box{
  padding: 13px 0px;
  /* background-color: #f4f4f4; */
}
.direccion{
  padding-top: 27px!important;
  font-size: 11px!important;
}

.capsula {
  display: block;
  border-top: 1px solid black;
  /*padding: 10px 0px;*/
  /* height:67px; */
  text-align: justify;
}

.capsula__img {
    float: left;
}
.capsula__txt {
    /*float: left;*/
    text-align: justify;
    color: black;
    font-size: 9px;
        padding: 10px 0px;
    /*margin-top: -45px;
    margin-left: 140px;*/
}
/*----------------------------------------------------*/
/* .form{
  position: absolute;
  width: 420px;
text-align: left;
} */
.checkbox{
  text-align: left;
  box-sizing: border-box;
  padding: 6px 20px 0 20px;

}

#credito .form{
  /*top: 180px;*/
  width: 44%;
  background: #ffffff url(../img/rainbow.jpg) top center no-repeat;
  box-sizing: border-box;
  float: right;
  padding: 30px 30px 0 30px;
  /* border-radius: 0px 0px 5px 5px;
  box-shadow: 2px 2px 12px rgba(132, 132, 132, 0.28);
  border-bottom: solid 1px #CACACA; */
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 

.clearfix:after {
    clear: both;
}

/* IE 6 & 7 */
.clearfix {
    zoom: 1;
}

.gracias{
  height: 482px;
  padding-top: 103px;
  box-sizing: border-box;
}
.gracias p{
  display: block;
  background: url(../img/gracias.gif) center top no-repeat;
  height: 100px;
  font-size: 22px;
  color: #1a60a5;
  padding-top: 97px;

}

.banner{
  width: 56%;
  float: left;
}

.form input[type='text'], .form select {
width: 96%;
  border-radius: 4px;
  /* border: 1px solid #84c6ee; */
  border: 1px solid #959595;
  font-size: 14px;
  color: rgb(82,188,236);

  padding: 0% 2%;
  line-height: 24px;
  background: transparent!important;
  outline: none;

}

#tipo_doc{
  border: 1px solid #00bff3;
}

.form .btn-enviar:hover{
  background-position: 0 -53px !important;
}

.form select{
  width: 100%;
  height: 42px;
  margin-bottom: 8px;
}

.disabled {
  color: #a1a1a1!important;
  border: 1px solid #a1a1a1!important;
}

/********************************************/

.floating-placeholder{
  height: 50px;
}

.floating-placeholder input:focus + label.placeholder {
  color: #16abf0;
}

.floating-placeholder input[value] + label.placeholder {
  color: red;
}

.floating-placeholder {
  position: relative;
}

input[type='text'] {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15pt;
  line-height: 2.85em;
  height: 2.83em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.floating-placeholder{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15pt;
  line-height: 2.85em;
  height: 2.5em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.floating-placeholder input {
  font-size: 20pt;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: transparent;
  z-index: 2;
  border-bottom: 1px solid #ccc;
  text-indent: 0;
}

.floating-placeholder:last-child input {
  border-bottom: none;
}

.floating-placeholder label.placeholder {
  font-family: 'stag_sansmedium';
  display: block;
  position: absolute;
  top: -6px;
  left: 10px;
  font-size: 0.75em;
  font-weight: 100;
  z-index: 1;
  -moz-transform-origin: 0 0em;
  -ms-transform-origin: 0 0em;
  -webkit-transform-origin: 0 0em;
  transform-origin: 0 0em;
  -moz-transition: -moz-transform 160ms, color 200ms;
  -o-transition: -o-transform 160ms, color 200ms;
  -webkit-transition: -webkit-transform 160ms, color 200ms;
  transition: transform 160ms, color 200ms;
  -moz-transform: scale(1, 1) rotateY(0);
  -ms-transform: scale(1, 1) rotateY(0);
  -webkit-transform: scale(1, 1) rotateY(0);
  transform: scale(1, 1) rotateY(0);
  color: #c5c5c5;
}

.floating-placeholder-float label.placeholder {
  -moz-transform: scale(0.55, 0.55) rotateY(0);
  -ms-transform: scale(0.55, 0.55) rotateY(0);
  -webkit-transform: scale(0.55, 0.55) rotateY(0);
  transform: scale(0.55, 0.55) rotateY(0);
}

.floating-placeholder-float input {
  line-height: 3.4em;
}

.lnk, label{
  font-size: 10px;
  color: #0c6ec5;
  font-family: Arial;
}

.lnk{
  text-align: left!important;
}

.form .btn-enviar{ 
  width: 247px;
  border: 0;
  cursor: pointer;
  padding: 14px 20px 14px 20px;
  font-size: 16px;
  box-shadow: 1px 1px 2px #666;
  border-radius: 5px; 
  background-image: url('../img/btn-style.png') !important;
  background-position: 0 0 !important;
  display: block;
  text-transform: none;
  min-width: 213px;
  height: 44px;
  margin:-14px auto 15px auto;
  color: #fff;
} 

label.error{
  position: absolute;
  left: -1000px;
  top: -1000px;
}

input[type=checkbox].error,
input[type=radio].error{
  outline: 1px solid #F00;
}

.form .error{
  border-color: #fe3433 !important;
}
#tyc{
  vertical-align: middle;
}

.gracias{
  text-align: center;
  color: #50ace4;
  font-size: 18px;

}

label.fecha{
  font-size: 13px;
  padding-right: 22px;
}

.nombre{
  text-transform: capitalize;
  font-size: 1.75em;

}

.procesando{
  display: block;
  /* float: right; */
  clear: right;
  /* padding-right: 40%; */
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  background-color: rgb(134,200,45);
  padding: 10px 0;
}

.procesando p{
color: #ffffff;
  font-size: 1.25em!important;
  width: 200px;
  margin: 0 auto;
  background: url('../img/ajax-loader.gif') no-repeat top left;
}

#numero-doc label.error{
  position: relative!important;
  left: 0!important;
  top: 0!important;
  padding-bottom: 5px;
  color: #f00!important;
}

#numero-celular label.error{
  position: relative!important;
  left: 0!important;
  top: 0!important;
  padding-bottom: 5px;
  color: #f00!important;
}

::-webkit-input-placeholder { color:#0c6ec5; }
::-moz-placeholder { color:#0c6ec5;  } /* firefox 19+ */
:-ms-input-placeholder { color:#0c6ec5; } /* ie */
input:-moz-placeholder { color:#0c6ec5; }

.veladura{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  display: none;
  z-index: 999;
}

input.centro{
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -7px;
}

.icon{
  width: 206px; height: 176px;
  display: block;
  float: left;
  box-sizing: border-box;
  margin: 0px 2px 15px;
  position: relative;
}

.market p{
  position: absolute;
  bottom: 22px;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: #60c721;
}

.mall p{
  position: absolute;
  bottom: 22px;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: #e71a61;
}

.restaurant p{
  position: absolute;
  bottom: 22px;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: #ff8a25;
}

.icon-mkt{
  background: transparent url('../img/icon-supermarket.png') no-repeat top left;
  width: 98px;height: 98px;
  display: block;
  position: absolute;
  top: 10px;
  margin-left:-49px;
  left: 50%;
}

.icon-mall{
  background: transparent url('../img/icon-mall.png') no-repeat top left;
  width: 98px;height: 98px;
  display: block;
  position: absolute;
  top: 10px;
  margin-left:-49px;
  left: 50%;
}

.icon-restaurant{
  background: transparent url('../img/icon-restaurant.png') no-repeat top left;
  width: 98px;height: 98px;
  display: block;
  position: absolute;
  top: 10px;
  margin-left:-49px;
  left: 50%;
}

.market{background: rgba(237,247,224,.40)}
.market:hover{background: rgba(237,247,224,.80); border:1px solid #60c721;}
.mall{background: rgba(243,215,222,.40)}
.mall:hover{background: rgba(243,215,222,.80); border:1px solid #e71a61;}
.restaurant{background: rgba(254,239,222,.40)}
.restaurant:hover{background: rgba(254,239,222,.80); border:1px solid #ff8a25;}

/****modal credito***********************************************************/

#credito {
  width: 900px;
  margin: 0px auto;
  position: relative;
  background: #fff;
}

#credito .terminos{
  bottom:30px;
  display: none;
}

.descuento,
h3,
h2,
h1,
img.header-mobile{display: none;}

.super{
  font-size: 8px;
  vertical-align: top;
  padding-bottom: 0px;
  display: inline-block;
}

@media screen and (max-width: 640px) {
  
  .capsula__img{
    margin-bottom: 33px;
  }


  .hide-small,
  .text-mas{
    display: none;
  }

  .descuento{
    display: block;
    background-color: #fff;
    color: #1a60a5;
    font-size: 15px;
    text-align: center;
    padding: 20px 0;
    font-family: 'stag_sanslight';
  }

  .descuento span{
    display: inline-block;
    font-family: 'stag_sansmedium';
  }

  span.large{
    font-size: 59px;
  }

  span.small{
    font-size: 23px;
    text-align: left;
  }

  p.clear{
    padding-top: 0!important;
  }

  h3{
    display: block;
  }

  h2{
    top: 0;
    padding: 2% 13%;
    width: 100%;
    font-size: 0.85em;
    position: relative;
    line-height: 1.5em;
    display: block;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #1a60a5;
    font-weight: bold;
  }

  h2 b{
    color: #1a60a5;
    display: block;
  }

  h3{
    background-color: #ffffff;
    color: #1a60a5;
    font-size: 12px;
    padding: 34px 20px;
    font-family: 'stag_sanslight';
  }

  h1{
    display: block;
  }

  h1.header-web {
  font-size: 23px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
/*  background-image: url("../img/cabecera.png");*/
  background-position: bottom;
  margin-top: 0;
/*  padding-top: 20px;
  padding-bottom: 44px;*/
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: 'stag_sans_light' arial;
  line-height: 23px;
  
  }

  img.header-web{display: none;}
  img.header-mobile{display: block;}

  #credito{
    width:100%;
    margin: 0px 0px;
  }
  
  
  #credito .form{
    top: 200px;
    /* position: absolute; */
    width: 310px;
    background-image:none; 
    /*text-align: left;*/
  }
  .form .year, .form .month, .form .day {
  width: 17%;
  }
  
  label.fecha {
  font-size: 12px;
  padding-right: 7px;
  }

  .form .btn-enviar {
  background-image: url('../img/btn-style.png') !important;
  background-position: 0 0 !important;
  display: block;
  text-transform: none;
  min-width: 213px;
  height: 45px;
  float: right;
  margin: 15px auto;
  margin-top: -14px;
  width: 100%;
  } 

  #credito .form {
    top: 0px; 
    width: 100%;
    overflow: hidden;
  }
  form#frm-data {
    max-width: 95%;
  }

  .direccion {
    padding-top: 52px!important;
    font-size: 11px!important;
    padding-bottom: 30px!important;
  }

  .checkbox {
    text-align: left;
    box-sizing: border-box;
    padding: 6px 38px 0 38px;
  }

  .icon{
    width: 100%;
    display: block;
    float: none;
    height: 45px;
  }

  input.centro{
    position: absolute;
    bottom: 16px;
    left: 20px;
    margin-left: -7px;
  }

  .market p {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    color: #60c721;
    left: 0;
  }
  .mall p {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    left: 0;
  }

  .restaurant p {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    left: -15px;
  }

  h2 > br{display: none;}

}

/*--Modal Tarjetas combo--*/

.text-right {
  width: 35%;
  display: block;
  float: left;
  padding: 2px 6px;
  box-sizing: border-box;
}

.text-left {
  width: 65%;
  display: block;
  float: left;
}

.clearfix{
  clear: both;
}

/*--CYBERMAMI--*/

.cybermami-subtitle{
  background: #de58ab;
  font-size: 0.95em;
  line-height: 1.25em;
}

.tarjetas-cybermami {
  position: absolute;
  bottom: -23%;
  display: block;
}

.text-mas{
  font-size: 15px!important;
  color: #1a60a5!important;
  font-family: 'stag_sanslight', Helvetica, Arial;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  line-height: 1.15em;
  text-rendering: optimizeLegibility;
}

.text-mas a{
  color: #006ec1;
  text-decoration: none;
  font-weight: normal;
}

.text-mas b{
  font-family: 'stag_sansmedium';
  font-weight: normal;
  display: block;
}

p.clear{
  padding-top: 25px;
}
/* .form input[type='text'],
.form select{
  border-color: #ccc;
} */

.gris{
  color: #666;
}

.clear{
  clear: both;
}

.alerta-ie8{
  display: none;
}

.alerta-ie8{
  display: block\0/;
  z-index: 999999;
  border-bottom: #f4dec0 1px solid;
  position: relative;
  border-left: #f4dec0 1px solid;
  background-color: #fbf1d0;
  min-height: 25px;
  width: 99.9%;
  height: 31px;
  border-top: #f4dec0 0px solid;
  border-right: #f4dec0 1px solid;
  font-family: arial;
  font-size: 12px;
  text-align: center;
  line-height: 31px;
}

.hide {
  display: none !important;
}

.color-blue {
  color: #1a60a5;
}

.color-cyan {
  color: #18abe3;
}