@font-face {
  font-family: 'stag_sansmedium';
  src: url('../font/stagsans-medium_0-webfont.eot');
  src: url('../font/stagsans-medium_0-webfont.eot?#iefix') format('embedded-opentype'),url('../font/stagsans-medium_0-webfont.woff') format('woff'),url('../font/stagsans-medium_0-webfont.ttf') format('truetype'),url('../font/stagsans-medium_0-webfont.svg#stag_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
div:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
:first-child+html .clearfix {
  zoom: 1;
}
i {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
}
input {
  outline: none;
}
body {
  background-color: #e8f7fb;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  font-family: 'stag_sansmedium';
}
.wrapper {
  width: 1020px;
  margin: 0 auto;
}
.title {
  width: 410px;
  margin: 0 auto;
  padding-bottom: 20px;
}
#ingreso {
  width: 650px;
  margin: 0 auto;
  padding: 45px 0;
  position: relative;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  margin-top: 30px;
}
#ingreso h1 {
  color: #0073b8;
  font-size: 22px;
  text-align: center;
  margin: 5px 10px;
  float: left;
}
#access {
  /*margin: 0 50px 30px;*/
  margin: 30px 50px;
}
#access input,
select {
  border: 1px solid #bfe9f6;
  color: #afafaf;
  font-size: 16px;
  padding: 10px 15px;
  margin-right: 10px;
  margin-left: 10px;
  width: 203px;

}
.btn-in {
  width: 210px;
  height: 60px;
  display: block;
  margin-left: 30% !important;
  background-color: #fff;
  border: none !important;
  margin-top: 20px;
  cursor: pointer;
}
.last {
  margin: 5px 25% !important;
  width: 240px;
}
.btn-salir {
  float: right;
  margin-top: -80px;
  text-decoration: none;
}
.logout {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
}
.btn-salir p {
  color: #0073b8;
  font-size: 16px;
  text-decoration: none;
  float: left;
  margin: 7px;
}
.btn-submit {
  outline: none;
  cursor: pointer;
  background-color: #fff;
  border: none !important;
  position: absolute;
}
/*Estilos para admin.html*/
.btn-guardar,
.btn-volver,
.btn-nuevoscanjes,
.btn-tcbbva,
.btn-notcbbva {
  display: block;
}
.btn-tcbbva {
  float: left;
  margin-left: 5%;
  /*margin-top: -3%;*/
}
.btn-notcbbva {
  float: right;
  margin-right: 5%;
  /*margin-top: -3%;*/
}
.btn-nuevoscanjes{
  margin: 0 auto 20px auto;
}
.btn-volver{
  position: absolute;
  right: -2px;
  top: -25px;
}
/*.btn-guardar{
  background: url(../img/btn-guardar.png) no-repeat;
  width: 144px;
  height: 44px;
}*/
.text-left i,
.text-right i {
  width: 50px;
  height: 50px;
  float: left;
  display: block;
}
.text-left,
.text-right {
  width: 40%;
  float: left;
  margin: 10px 0 0 54px;
}
.text-left {
  left: 52px;
}
.text-left a,
.text-right a {
  font-size: 16px;
  color: #868686;
  margin-top: 10px;
  text-decoration: none;
  float: left;
  width: 65%;
}
.text-left a:hover,
.text-right a:hover {
  text-decoration: underline;
}
.text-right {
  right: 20px;
}
/*Estilos para oficina.html */
.icon-toy,
.icon-tcbbva,
.icon-notcbbva {
  display: block;
}
.icon-tcbbva,
.icon-notcbbva {
  margin-bottom: 20px;
}
.icon-toy {
  margin-left: 30%;
}
.icon-tcbbva {
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}
.icon-notcbbva {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}
#tabla {
  width: 80%;
  margin: 40px auto;
}
#tabla a{
  display:block;
  position:initial;
  margin: 0 auto;
  width:26px;
}
table {
  width: 100%;
  border: 1px solid #efefef;
  font-size: 12px;
}
th {
  background-color: #bfe9f6;
  color: #009bcb;
  padding: 10px;
}
td {
  color: #636363;
  padding: 10px 5px;
  border-right: 1px solid #efefef;
  text-align: center;
}
#tabla i {
  width: 27px;
  height: 25px;
  display: block;
  margin-right: -10px;
}
.search select{
  width: 235px;
}
.errorHolder{
  padding:0;
}
label.error{
  font-size: 12px;
  padding:5px 60px;
  display:block;
}
#access input.error,
#access select.error{
  border-color:red;
}
.errorLogin{
  padding: 0 60px;
}
.form-registro label.error{
  position:absolute;
  top:-1000px;
  left:-1000px;
}



