@font-face {
  font-family: 'stag_sansmedium';
  src: url('../../font/stagsans-medium_0-webfont.eot');
  src: url('../../font/stagsans-medium_0-webfont.eot?#iefix') format('embedded-opentype'),url('../../font/stagsans-medium_0-webfont.woff') format('woff'),url('../../font/stagsans-medium_0-webfont.ttf') format('truetype'),url('../../font/stagsans-medium_0-webfont.svg#stag_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
div:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
:first-child+html .clearfix {
  zoom: 1;
}
i {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
}
input {
  outline: none;
}
body {
  background: url('../img/background-body.jpg') repeat top left;
  background-color: #e8f7fb;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  font-family: 'stag_sansmedium';
}
.wrapper {
  width: 1020px;
  margin: 0 auto;
}
.title {
  width: 100%;
  margin: 0 auto;
  background: rgb(09,79,164);
  padding: 10px 0px;
  border-bottom: 4px solid rgb(00,110,193);
}

#ingreso {
  width: 650px;
  margin: 0 auto;
  padding: 45px 0;
  position: relative;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  margin-top: 30px;
}
#ingreso h1 {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  margin: 5px 10px;

}
#access {
  margin: 30px 50px;
}

#access input[type=text],
#access input[type=password],
select {
  border: 1px solid #bfe9f6;
  color: #000;
  font-size: 16px;
  padding: 10px 15px;
  margin: 0 20px;
  width: 203px;
}

.btn,
#access input[type=submit]{
  padding: 10px 20px;
  border: 1px solid #175ea1;
  text-decoration: none;
  color: white;
  background-color: #094fa4;
  border-radius: 5px;
  box-shadow: 1px 2px 0 #006ec1;
  cursor: pointer;
  font-family: 'stag_sansmedium';
  width: 203px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  font-size: 1em;
  margin: 20px 0;
}

#access input[type=submit]:hover{
  background-color: #009ee5;
  box-shadow: 1px 2px 0 #52bcec;
  border: 1px solid #009ee5;
  color:;
}

.btn-in {

  margin: 30px auto!important;
  clear:both;
}
/* .last {
  margin: 5px 25% !important;
  width: 240px;
} */
.btn-salir {
  float: right;
  margin-top: -80px;
  text-decoration: none;
  background: #52bcec;
  border-radius: 5px;
}
.logout {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background: transparent url('../img/btn-close-cms.png') no-repeat top left;
}
.btn-salir p {
  color: #FFFFFF;
  font-size: 0.8em;
  text-decoration: none;
  float: left;
  margin: 7px;
}

#access p{
  font-size: 17px;
  padding: 15px 0px;
}

#access label{
  display: inline-block;
  width: 50px;
}

::-webkit-input-placeholder { color:#afafaf;  }
::-moz-placeholder { color:#afafaf; } /* firefox 19+ */
:-ms-input-placeholder { color:#afafaf; } /* ie */
input:-moz-placeholder { color:#afafaf; }

/* .btn-submit {
  outline: none;
  cursor: pointer;
  background-color: #fff;
  border: none !important;
  position: absolute;
} */
/*Estilos para admin.html*/
/* .btn-guardar,
.btn-volver,
.btn-nuevoscanjes,
.btn-tcbbva,
.btn-notcbbva {
  display: block;
} */
.btn-tcbbva {
  float: left;
  margin-left: 5%;
  /*margin-top: -3%;*/
}
.btn-notcbbva {
  float: right;
  margin-right: 5%;
  /*margin-top: -3%;*/
}
.btn-nuevoscanjes{
  margin: 0 auto 20px auto;
}
.btn-volver{
  position: absolute;
  right: -2px;
  top: -25px;
}
/*.btn-guardar{
  background: url(../img/btn-guardar.png) no-repeat;
  width: 144px;
  height: 44px;
}*/
.text-left i,
.text-right i {
  width: 50px;
  height: 50px;
  float: left;
  display: block;
}
.text-left,
.text-right {
  width: 40%;
  float: left;
  margin: 10px 0 0 54px;
}
.text-left {
  left: 52px;
}
.text-left a,
.text-right a {
  font-size: 16px;
  color: #868686;
  margin-top: 10px;
  text-decoration: none;
  float: left;
  width: 65%;
}
.text-left a:hover,
.text-right a:hover {
  text-decoration: underline;
}
.text-right {
  right: 20px;
}

.left{float: left;}
.right{float: right;}

/*Estilos para oficina.html */
.icon-toy,
.icon-tcbbva,
.icon-notcbbva {
  display: block;
}
.icon-tcbbva,
.icon-notcbbva {
  margin-bottom: 20px;
}
.icon-toy {
  margin-left: 30%;
}
.icon-tcbbva {
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}
.icon-notcbbva {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}
#tabla {
  width: 80%;
  margin: 40px auto;
}
#tabla a{
  display:block;
  position:initial;
  margin: 0 auto;
  width:26px;
}
table {
  width: 100%;
  border: 1px solid #efefef;
  font-size: 12px;
}
th {
  /* background-color: #bfe9f6; */
  color: #009bcb;
  padding: 5px;
}
td {
  color: #636363;
  padding: 10px 5px;
  border-right: 1px solid #efefef;
  text-align: center;
}
#tabla i {
  width: 27px;
  height: 25px;
  display: block;
  margin-right: -10px;
}
.search select{
  width: 235px;
}
.errorHolder{
  padding:0;
}
label.error{
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  background: rgb(202, 39, 39);
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
  bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#access input.error,
#access select.error{
  border-color:red;
}
.errorLogin{
  padding: 10px 60px;
  text-align: center;
  background: rgb(134,200,45);
  position: absolute;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  box-sizing: border-box;
  font-size: 1em;
}
.form-registro label.error{
  position:absolute;
  top:-1000px;
  left:-1000px;
}

/************************************************************************/
/* el rectángulo contenedor */
.tabber { width:100%; }
#tabs { width:100%; margin: 0;list-style-type: none;padding: 0; height: 32px;}
/* cada pestaña es un item de una lista */


#tabs li {
  background-image: -moz-linear-gradient(100% 100% 90deg, #AAA, #FFF);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#AAA), to(#FFF));
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#FFFFFFFF", EndColorStr="#FFAAAAAA");
  float: left;
  height: 2em;
  line-height: 2em;
  /* width: 280px; */
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}

#tabs li:first-child{
  -moz-border-radius: 10px 0 0 2px;
  -webkit-border-radius:10px 0 0 2px;
  border-radius:10px 0 0 2px;
}
/* esta es la pestaña activa */
#tabs li.on {
  background-image: -moz-linear-gradient(100% 100% 90deg, #1a74b8, #1a74b8);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1a74b8), to(#1a74b8));
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#1a74b8", EndColorStr="#1a74b8");
}
/* cada pestaña es un enlace */
#tabs li a {
  color: #666;
  font-family: Verdana;
  font-size: 12px;
  padding: 0 0 0 15px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
/* el enlace activo */
#tabs li.on a { color: #fff; }
/* efecto hover sobre las pestañas */
#tabs li a:hover { color: #fff;  }
/* efecto hover sobre la pestaña activa */
#tabs li.on a:hover { color: #fff; }
/* los contenidos ocultos */
.tab {
  clear: both;
  display: none;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #ccc;
  background: #ffffff;
}

.totales{
  margin: 30px 50px;
}

.totales div{
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  margin: 5px;
  background-color: #E8E8E8;
  text-align: center;
  height: 90px;
  float: left;
  width: 110px;
  border: solid 1px #B9B9B9;
  border-radius: 5px;
}

.totales span{
  display: block;
  font-size: 11px;
  color: #333;
}

.total{
  font-size: 22px!important;
  padding-top: 8px;
  border-top: solid 1px #666;
  margin-top: 10px;
  color: #002E8C!important;
}

